:root{
    --verde-escuro: #062d13;
    --verde-medio: #118839;
    --verde-claro: #1ce35e;
    --branco: #fff;
    --cinza-escuro: #333;
    --cinza-medio: #7777;
    --cinza-claro: #aaa;
}

*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
/* -------------------------------------------------------- */
/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 0.5rem #ddd;
}
/* --------------------------------------------------------- */
/* nav */
nav{
    position: fixed;
    top: 0;
    width: 0;
    background-color: var(--verde-escuro);
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 10;
    transition: 1s;
    text-align: center;
}
nav ul li{
    display: block;
    margin: 1rem 0.5rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--verde-claro);
    cursor: pointer;

}
/* Botão de fechar */
nav p{
    transition: 0.5s;
    color: aliceblue;
    font-size: 3rem;
    cursor: pointer;
}
nav p:hover{
    text-transform: capitalize;
}

#button-menu{
    border: none;
    border-radius: 5px;
    padding: .5rem;
    background-color: var(--verde-medio);
    color: var(--verde-claro);
    cursor: pointer;
}
#button-menu:hover{
    box-shadow: 2px 2px 1rem var(--verde-claro);
    transition: 0.5s;

}

/* Containeres */
#conteudo-principal{
    min-height: calc(100vh -70px);
}
.container{
    max-width: 90%;
    margin: auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
}
#meio{
    width: 300px;

}
#direita{
    width: 200px;
}
/* ----------------------------------------------------------------- */
/* Area da imagem */
#imagem-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 50vh;    
    max-width: 90%;
    min-width: 60%;
    margin: auto;
}
#imagem-principal{
    max-width: 90%;
    max-height: calc(100vh - 200px);
}


/* ----------------------------------------------------------------- */
/* mobile */
#layout-celular{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:0;
    padding: 1rem 0.5rem;
    margin: 0;
}
#layout-celular .area-miniatura-mobile{
    display: none;
    position: fixed;
    bottom: 70px;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #eaeaea;
    box-shadow: inset 0 0 1rem #bbb;

}
#layout-celular .area-menu-lateral-mobile{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
    box-shadow: inset 0 0 1rem #bbb;

}

/* ----------------------------------------------------------------- */
/* Responsividade */
@media screen and (max-width:950px){
    #direita{
        display: none;
    }
    #layout-celular .area-menu-lateral-mobile{
        display: block;

    }
}

@media(max-width:850px){
    #meio{
        display: none;
    }
    #layout-celular .area-miniatura-mobile{
        display: block;
    }
    #layout-celular .area-menu-lateral-mobile{
        display: block;
    }

}